{% extends 'pos/master/menu_nav.html' %}
{% load index %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<script type="module" src="{% static 'pos/js/products.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
{% verbatim %}
    <product-list
            @showcreateproductmodal="showcreateproductmodal"
            @showeditproductmodal="showeditproductmodal"
            v-bind:products="products">
    </product-list>
    <create-product-modal
            @showcreateproductmodal="showcreateproductmodal"
            v-bind:opened="show_product_create_modal">
    </create-product-modal>
    <edit-product-modal
            @showeditproductmodal="showeditproductmodal"
            v-bind:opened="show_product_edit_modal"
            v-bind:product_id="selected_product_id">
    </edit-product-modal>
</div>
{% endverbatim %}
{% endblock %}