{% extends 'pos/master/menu_nav.html' %}
{% load widget_tweaks %}

{% block content %}

<div class="container">
<a href="{% url 'pos:trip_detail' pk=route.trip.id %}">Back</a>
<h2>Edit Order</h2>

    <form action="{% url 'pos:route_edit' pk=route.id %}" method="post" novalidate>
        {% csrf_token %}
        <div class="card">
            <div class="card-header columns">
                <div class="h4 column col-1">{{ route.index }}.</div>
                <div class="card-title h4 column col-3">
                {% if route.orderitem_set.all|length > 0 %}
                    {{ route.orderitem_set.first.customerproduct.customer.name }}
                {% endif %}
                </div>
                <div class="column col-8">
                    {% render_field form.note rows="1" cols="20" class="float-right form-input" placeholder=form.note.label %}
                </div>
            </div>

            <div class="card-body columns">
                <div class="divider column col-12"></div>
                <div class="column col-5">
                {{ orderitems.management_form }}
                {% for oi_form in orderitems %}
                {{ oi_form.id }}
                <div class="tile tile-centered form-spacing">
                    <div class="tile-icon">
                        <div class="example-tile-icon">
                            <i class="icon icon-file centered"></i>
                        </div>
                    </div>

                    <div class="tile-content column col-12">
                        <div class="tile-title h6">
                        {{ oi_form.instance.customerproduct.product.name }}
                        </div>
                        <div class="tile-subtitle columns">
                            <div class="column col-6 col-xs-12">
                                <label class="form-label">{{ oi_form.quantity.label }}</label>
                                {% render_field oi_form.quantity class="form-input" placeholder=oi_form.quantity.label %}
                            </div>
                            <div class="column col-6 col-xs-12">
                                <label class="form-label">{{ oi_form.note.label }}</label>
                                {% render_field oi_form.note class="form-input" placeholder=oi_form.note.label %}
                            </div>
                        </div>
                        <div class="divider col-12"></div>
                    </div>
                </div>
                {% endfor %}
                </div>
                <div class="column col-7">
                    <div class="column col-12">
                        <table class="table">
                            <tr>
                                <th>W/B</th>
                                <th>Col 2</th>
                                <th>Col 3</th>
                                <th>Col 4</th>
                                <th>Col 5</th>
                                <th>Col 6</th>
                                <th>Col 7</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="card-footer col-12">
                <input class="btn btn-primary float-right" type="submit" value="Save">
            </div>
        </div>
    </form>
</div>
{% endblock %}