{% extends 'pos/master/menu_nav.html' %}
{% load index %}
{% load widget_tweaks %}
{% block content %}

<div class="container">
<a href="{% url 'pos:trip_detail' pk=route.trip.id %}">Back</a>
<h2>Edit Order</h2>

    <form action="{% url 'pos:route_edit' pk=route.id %}" method="post" novalidate>
        {% csrf_token %}
        <div class="card">
            <div class="card-header columns">
                <div class="h4 column col-1">{{ route.index }}.</div>
                <div class="card-title h4 column col-5">
                {% if route.orderitem_set.all|length > 0 %}
                    {{ route.orderitem_set.first.customerproduct.customer.name }}
                {% endif %}
                </div>
                <div class="column col-6">
                    {% render_field form.note rows="1" cols="20" class="float-right form-input" placeholder=form.note.label %}
                </div>
            </div>

            <div class="card-body columns">
                <div class="divider column col-12"></div>
                <div class="column col-12">
                {{ orderitems.management_form }}
                {% for oi_form in orderitems %}
                {{ oi_form.id }}
                <div class="tile tile-centered form-spacing">
                    <div class="tile-content columns col-12">
                        <div class="tile-title h6 column col-5">
                            <label class="form-label">{{ oi_form.instance.customerproduct.product.name }}</label>
                        </div>
                        <div class="column col-7">
                            {% if forloop.first %}
                            <table class="table packing">
                                <tr>
                                    {% for method in packing %}
                                    <th>{{ method }}</th>
                                    {% endfor %}
                                </tr>
                            </table>
                            {% endif %}
                        </div>
                        <div class="columns column col-12">
                            <div class="column col-2">
                                <label class="form-label">{{ oi_form.quantity.label }}</label>
                            </div>
                            <div class="column col-3">
                                <label class="form-label">{{ oi_form.note.label }}</label>
                            </div>
                            <div class="column col-7"></div>
                        </div>


                        <div class="column col-2">
                            {% render_field oi_form.quantity class="form-input" placeholder=oi_form.quantity.label %}
                        </div>
                        <div class="column col-3">
                            {% render_field oi_form.note class="form-input" placeholder=oi_form.note.label %}
                        </div>
                        <div class="column col-7">
                            <table class="table packing">
                                <tr>
                                    {% for method in packing %}
                                    <td>
                                        {% render_field oi_form|keyvalue:method class="form-input" %}
                                    </td>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="divider"></div>
                {% endfor %}
                </div>
            </div>

            <div class="card-footer col-12">
                <input class="btn btn-primary float-right" type="submit" value="Save">
            </div>
        </div>
    </form>
</div>
{% endblock %}