{% extends 'pos/master/menu_nav.html' %}
{% load widget_tweaks %}
{% load index %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column col-12">
            <a href="{% url 'pos:trip_detail' pk=trip.id %}">Back</a>
            <h2>{{ trip.date|date:"d M Y P" }}</h2>
            <p>
                Trip Notes:<br>
                {% if trip.notes %}
                {{ trip.notes }}
                {% endif %}
            </p>
        </div>

        {% for error in errors %}
        <div class="column col-12">
            <div class="toast toast-error column col-12">{{ error }}</div>
        </div>
        {% endfor %}

        <div class="divider column col-12"></div>
        <form action="{% url 'pos:trip_arrange' pk=trip.id %}" method="post">
        {{ arrange_formset.management_form }}
        {% for r in arrange_formset %}
        {{ r.id }}
        {% if r.instance.do_number == "" %}
        <div class="card columns col-12 route">
        {% else %}
        <div class="card columns col-12 sent route">
        {% endif %}
            {% if r.instance.note %}
            <div class="toast column col-12 text-bold">NOTE: {{ r.instance.note }}</div>
            {% endif %}
            <div class="card-header columns column col-12">

                {% if r.instance.do_number != "" %}
                <div class="text-bold text-error column col-12">
                    <p class="float-right">{{ r.instance.do_number }}</p>
                </div>
                {% endif %}

                <div class="h5 column col-1">
                    {% csrf_token %}
                    {% render_field r.index class="form-input" %}
                </div>
                <div class="card-title h5 column col-4">
                    {% if r.instance.orderitem_set.all|length > 0 %}
                    {{ r.instance.orderitem_set.first.customerproduct.customer.name }}
                    {% endif %}
                </div>
                <div class="column col-7">
                    <table class="table packing">
                        <tr>
                            {% for method in packing %}
                            <th>{{ method }}</th>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card-body columns column-gapless col-12">
                {% for oi in r.instance.orderitem_set.all %}
                <div class="column col-1"></div>
                <div class="columns column-gapless col-4 orderitem-row">
                    <div class="column col-3">{{ oi.quantity }}</div>
                    <div class="column col-9">{{ oi.customerproduct.product.name }}</div>
                    {% if oi.note %}
                    <div class="column col-3"></div>
                    <div class="column col-9 text-bold">NOTE: {{ oi.note }}</div>
                    {% endif %}
                </div>
                <div class="column col-7">
                    <table class="table packing">
                        {% if oi.packing %}
                        <tr>
                            {% for method in packing %}
                            <td>
                                {% if oi.packing|keyvalue:method %}
                                {{ oi.packing|keyvalue:method }}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="column col-1"></div>
                <div class="divider column col-11"></div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <div class="card columns col-12 route">
            <div class="card-body columns column col-12">
            <div class="column col-5 route"></div>
            <div class="column col-7 route">
                <table class="table packing">
                    <tr>
                        {% for method in packing %}
                        <th>{{ method }}</th>
                        {% endfor %}
                    </tr>
                </table>
            </div>

            <div class="column col-5 route"></div>
                <div class="column col-7 route">
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 m-2">
        <input class="btn btn-primary float-right" type="submit" value="Save">
    </div>
    </form>
</div>

{% endblock %}