{% extends 'pos/master/menu_nav.html' %}
{% load index %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<script type="text/javascript" src="{% static 'pos/js/trip_detail.js' %}"></script>
<title>{{ trip.date|date:"d M Y P" }}</title>
<div class="container">
    <div class="columns">
        <div class="columns column col-12">
            <div class="column col-12">
                <a href="{% url 'pos:trip_index' %}">Back</a>
                <h2>{{ trip.date|date:"d M Y P" }}</h2>
            <div>
            <p>
                Trip Notes:<br>
                {% if trip.notes %}
                {{ trip.notes }}
                {% endif %}
            </p>
            <a class="btn btn-sm my-2" href="{% url 'admin:pos_trip_change' trip.id %} ">Edit</a>
            <a class="btn btn-primary btn-sm my-2" id="arrange-button">Arrange</a>
            <a class="btn btn-link btn-sm my-2 d-hide" id="arrange-cancel-button">Cancel</a>
            <a class="btn btn-sm btn-primary my-2 float-right" id="print" href="{% url 'pos:trip_print' trip.id %}">
                Print
            </a>
            </div>
            <div class="divider column col-12"></div>
            </div>
        </div>
            <div class="column col-12">
            <div id="routes">
                {% for r in routes %}
                <div class="columns col-12 route" data-route-id="{{ r.pk }}">
                    <div class="columns column col-12">
                            <input class="index form-input input-lg" value="{{ r.index }}" type="number" data-route-id="{{ r.pk }}" readonly disabled>
                            <div style="display:inline;" class="h4 mx-2">{{ r.orderitem_set.first.customerproduct.customer.name }}</div>
                            {% if r.do_number != "" and r.do_number != None %}
                                <p class="h4 text-error float-right">{{ r.do_number }}</p>
                            {% endif %}
                    </div>

                    {% if r.orderitem_set.all|length > 0 %}
                        <div class="column col-6"></div>
                        <ul class="packing-container column col-6 col-ml-auto">
                            {% for method in packing %}
                            <li>{{ method }}</li>
                            {% endfor %}
                        </ul>
                        {% for oi in r.orderitem_set.all %}
                        <ul style="display:flex;" class="orderitem-container column col-6" data-orderitem-id="{{ oi.pk }}">
                            <li style="flex:1">{{ oi.quantity }}</li>
                            <li style="flex:8">{{ oi.customerproduct.product.name }}{% if oi.note %} 🡒 {{ oi.note }} {% endif %}</li>
                        </ul>
                        <ul class="packing-container column col-6" data-orderitem-id="{{ oi.pk }}">
                            {% for method in packing %}
                            <li >
                                {% if oi.packing %}
                                {% if oi.packing|keyvalueget:method != None %}
                                {{ oi.packing|keyvalueget:method }}
                                {% endif %}
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% endfor %}
                    {% endif %}
                    <div class="divider column col-12"></div>
                    <h5 class="column col-11 note" data-route-id="{{ r.pk }}">{{ r.note }}</h5>
                    <button class="delete btn btn-link column col-1"><i class="icon icon-delete float-right"></i></button>
                </div>
                {% endfor %}
            </div>

            <div class="columns col-12 packing-sum">
                <div class="column col-6"></div>
                <ul class="packing-container column col-6 col-ml-auto">
                    {% for method in packing %}
                    <li class="packing-label">{{ method }}</li>
                    {% endfor %}
                </ul>
                <div class="column col-6"></div>
                <ul id="total-packing-sum" class="packing-container column col-6" data-trip-id="{{ trip.pk }}"></ul>
            </div>


            <div class="divider column col-12"></div>

            <h5 class="py-2">Add Customer</h5>
            <form autocomplete="off" id="routeform">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label">{{ form.customer.label }}</label>
                    {% render_field form.customer class="form-input" name="cust" list="customers" id="customer" %}
                </div>
                <datalist id="customers">
                {% for customer in customers %}
                    <option data-value="{{ customer.pk }}" value="{{ customer.name }}">
                {% endfor %}
                </datalist>
                <div class="form-group">
                    <label class="form-label">{{ form.note.label }}</label>
                    {% render_field form.note class="form-input" id="note" %}
                </div>
                <button class="btn btn-primary" value="Save" id="add-route" data-trip-id="{{ trip.pk }}">Save</button>
            </form>
        </div>
    </div>
</div>

<!-- Route Edit Modal -->
<div class="modal" id="edit-modal">
  <a href="#close" class="modal-overlay" aria-label="Close"></a>
  <div class="modal-container">
    <div class="modal-header">
      <a id="modal-close" href="#close" class="btn btn-clear float-right" aria-label="Close"></a>
      <div id="customer-name" class="modal-title h5"></div>
    </div>
    <form id="edit-modal-body" action="" class="modal-body form-group columns"></form>
      {% csrf_token %}
      <div class="modal-footer">
        <a id="modal-save" href="#save" class="btn btn-primary btn-lg my-2 float-right">Save</a>
      </div>
  </div>
</div>
{% endblock %}