{% extends 'pos/master/menu_nav.html' %}
{% load index %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column col-12">
            <a href="{% url 'pos:trip_index' %}">Back</a>
            <h2>{{ trip.date|date:"d M Y P" }}</h2>
            <p>
                Trip Notes:<br>
                {% if trip.notes %}
                {{ trip.notes }}
                {% endif %}
            </p>
            <div>
                <a class="btn btn-sm btn-primary my-2" href="{% url 'pos:trip_edit' pk=trip.id %}">
                    <i class="icon icon-edit"></i>&nbsp;Edit
                </a>
                <a class="btn btn-sm btn-primary my-2 float-right" href="{% url 'pos:print_trip_detail' pk=trip.id %}">
                    Print
                </a>
            </div>
        </div>

        <div class="divider column col-12"></div>
        {% for r in routes %}
        {% if r.do_number == "" %}
        <div class="card columns col-12 route">
        {% else %}
        <div class="card columns col-12 sent route">
        {% endif %}
            {% if r.note %}
            <div class="toast column col-12 text-bold">NOTE: {{ r.note }}</div>
            {% endif %}
            <div class="card-header columns column col-12">

                {% if r.do_number != "" %}
                <div class="text-bold text-error column col-12">
                    <p class="float-right">{{ r.do_number }}</p>
                </div>
                {% endif %}

                <div class="h5 column col-1">{{ r.index }}.</div>
                <div class="card-title h5 column col-4">
                    {% if r.orderitem_set.all|length > 0 %}
                    {{ r.orderitem_set.first.customerproduct.customer.name }}
                    {% endif %}
                </div>
                <div class="column col-7">
                    <table class="table packing">
                        <tr>
                            {% for method in packing %}
                            <th>{{ method }}</th>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>

            <div class="card-body columns column-gapless col-12">
                {% for oi in r.orderitem_set.all %}
                <div class="column col-1"></div>
                <div class="columns column-gapless col-4 orderitem-row">
                    <div class="column col-3">{{ oi.quantity }}</div>
                    <div class="column col-9">{{ oi.customerproduct.product.name }}</div>
                    {% if oi.note %}
                    <div class="column col-3"></div>
                    <div class="column col-9 text-bold">NOTE: {{ oi.note }}</div>
                    {% endif %}
                </div>
                <div class="column col-7">
                    <table class="table packing">
                        {% if oi.packing %}
                        <tr>
                            {% for method in packing %}
                            <td>
                                {% if oi.packing|keyvalue:method %}
                                {{ oi.packing|keyvalue:method }}
                                {% endif %}
                            </td>
                            {% endfor %}
                        </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="column col-1"></div>
                <div class="divider column col-11"></div>
                {% endfor %}
            </div>

            <div class="card-footer col-12">
                <div class="column col-12">
                    <a href="{% url 'pos:route_delete' trip_pk=r.trip.id route_pk=r.id %}">
                        <i class="icon icon-delete"></i>
                    </a>
                    <a class="float-right" href="{% url 'pos:route_edit' pk=r.id %}">
                        <i class="icon icon-edit"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="card columns col-12 route">
            <div class="card-body columns column col-12">
        <div class="column col-5 route"></div>
        <div class="column col-7 route">
            <table class="table packing">
                <tr>
                    {% for method in packing %}
                    <th>{{ method }}</th>
                    {% endfor %}
                </tr>
            </table>
        </div>

        <div class="column col-5 route"></div>
        <div class="column col-7 route">
            <table class="table packing">
                <tr>
                    {% for method in packing %}
                    {% if packing_sum|keyvalue:method is not None %}
                    <td>{{ packing_sum|keyvalue:method }}</td>
                    {% else %}
                    <td>0</td>
                    {% endif %}
                    {% endfor %}
                </tr>
            </table>
        </div>
            </div>
        </div>
    </div>

    <div class="columns">
        <h5 class="py-2">Add Customer</h5>
        <form action="{% url 'pos:trip_detail' pk=trip.id %}" method="post">
            {% csrf_token %}
            {% include 'pos/master/create_form.html' with form=form %}
            <input class="btn btn-primary" type="submit" value="Save">
        </form>
    </div>
</div>

{% endblock %}