{% extends 'pos/master/menu_nav.html' %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column col-3">
            <h2>Trips</h2>
        </div>
        <div class="column col-mr-auto"></div>
        <div class="column col-3">
            <a href="{% url 'pos:trip_create' %}" class="btn btn-primary btn-sm float-right button-action">
                <i class="icon icon-plus"></i>&nbsp;Create
            </a>
        </div>
    </div>
    <div class="columns">
        <div class="column col-12">
            {% if trip_list|length > 0 %}
                <table class="table">
                    {% for trip in trip_list %}
                    <tr>
                        <td class="column col-9">
                            <a href="{% url 'pos:trip_detail' pk=trip.id %}">
                                {{ trip.date|date:"D d M Y Hi"}}
                            </a>
                        </td>
                        <td class="column col-1">
                            <a href="{% url 'pos:trip_copy' pk=trip.id %}">Copy</a>
                        </td>
                        <td class="column col-1">
                            <a href="{% url 'pos:trip_edit' pk=trip.id %}">
                                <i class="icon icon-edit float-right"></i>
                            </a>
                        </td>
                        <td class="column col-1">
                            <a href="{% url 'pos:trip_delete' pk=trip.id %}">
                                <i class="icon icon-delete float-right"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="empty">
                      <p class="empty-title h5">You have no trips.</p>
                        <p class="empty-subtitle">Click the button to create one.</p>
                      <div class="empty-action">
                            <a href="{% url 'pos:trip_create' %}" class="btn btn-primary btn-sm button-action">
                                <i class="icon icon-plus"></i>&nbsp;Create
                            </a>
                      </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}