{% load static %}
{% load widget_tweaks %}
{% load index %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'pos/spectre.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pos/spectre-icons.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pos/spectre-exp.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'pos/main.css' %}" />
    <script type="text/javascript" src="{% static 'pos/js/trip_detail.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="columns">
            <div class="column col-12">
                <h2>{{ trip.date|date:"d M Y P" }}</h2>
                <p>
                    Trip Notes:<br>
                    {% if trip.notes %}
                    {{ trip.notes }}
                    {% endif %}
                </p>
                <div class="divider column col-12"></div>
                <div id="routes">
                    {% for r in routes %}
                    <div class="columns col-12 route" data-route-id="{{ r.pk }}">
                        {% if r.orderitem_set.all|length > 0 %}
                        <div class="columns column col-12">
                            <div class="h4">{{ r.index }}.</div>
                            <div style="display:inline;" class="h4 mx-2">{{ r.orderitem_set.first.customerproduct.customer.name }}</div>
                            {% if r.do_number != "" and r.do_number != None %}
                                <p class="h4 text-error float-right">{{ r.do_number }}</p>
                            {% endif %}
                        </div>

                            <div class="column col-6"></div>
                            <ul class="packing-container column col-6 col-ml-auto">
                                {% for method in packing %}
                                <li>{{ method }}</li>
                                {% endfor %}
                            </ul>
                            {% for oi in r.orderitem_set.all %}
                            <ul style="display:flex;" class="orderitem-container column col-6" data-orderitem-id="{{ oi.pk }}">
                                <li style="flex:1">{{ oi.quantity }}</li>
                                <li style="flex:8">{{ oi.customerproduct.product.name }}{% if oi.note %} 🡒 {{ oi.note }} {% endif %}</li>
                            </ul>
                            <ul class="packing-container column col-6" data-orderitem-id="{{ oi.pk }}">
                                {% for method in packing %}
                                <li >
                                    {% if oi.packing %}
                                    {% if oi.packing|keyvalueget:method != None %}
                                    {{ oi.packing|keyvalueget:method }}
                                    {% endif %}
                                    {% endif %}
                                </li>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        {% else %}
                        <div class="h4">{{ r.index }}.</div>
                        {% endif %}
                        <div class="divider column col-12"></div>
                        <h5 class="column col-11">{{ r.note }}</h5>
                    </div>
                    {% endfor %}
                </div>

                <div class="columns col-12 packing-sum">
                    <div class="column col-6"></div>
                    <ul class="packing-container column col-6 col-ml-auto">
                        {% for method in packing %}
                        <li class="packing-label">{{ method }}</li>
                        {% endfor %}
                    </ul>
                    <div class="column col-6"></div>
                    <ul id="total-packing-sum" class="packing-container column col-6" data-trip-id="{{ trip.pk }}"></ul>
                </div>
                <div class="divider column col-12"></div>
            </div>
        </div>
    </div>
</body>
