{% load static %}
{% load widget_tweaks %}
{% load index %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'pos/js/trip_detail.js' %}"></script>
    <!--inline css because django-hardcopy does not support linking of css via script tags-->
    <style>
        {% include "pos/spectre.min.css" %}
        {% include "pos/spectre-icons.min.css" %}
        {% include "pos/spectre-exp.min.css" %}
        {% include "pos/main.css" %}
    </style>
</head>
<body>
<div class="container" id="print-page">
    <div class="columns">
        <div class="columns column col-12">
            <div class="column col-12"><h2>{{ trip.date|date:"d M Y P" }}</h2><div>
                {% if trip.notes %}
                <h4>{{ trip.notes }}</h4>
                {% endif %}
                </div>
                <div class="divider column col-12"></div>
            </div>
        </div>
            <div class="column col-12">
            <div id="routes">
                {% for r in routes %}
                <div class="columns col-12 route my-2" data-route-id="{{ r.pk }}">
                    <div class="columns column col-12">
                            <div style="display:inline;" class="h4 column col-ml-auto">{{ r.index }}. {{ r.orderitem_set.first.customerproduct.customer.name }}</div>
                            {% if r.do_number != "" and r.do_number != None %}
                                <a href="#" class="btn btn-link text-right column col-2 do-number" data-route-id="{{ r.pk }}">{{ r.do_number }}</a>
                            {% endif %}
                    </div>

                    {% if r.orderitem_set.all|length > 0 %}
                        <ul class="packing-container column col-12" style="grid-template-columns: 2fr 4fr repeat({{ packing|length }}, minmax(0, 1fr));">
                            <li class="packing-empty-space"></li>
                            {% for method in packing %}
                            <li class="border">{{ method }}</li>
                            {% endfor %}
                            {% for oi in r.orderitem_set.all %}
                            <li>{{ oi.quantity }}</li>
                            <li>
                                {{ oi.customerproduct.product.name }}
                                {% if oi.note %}
                                🡒 {{ oi.note }}
                                {% endif %}
                            </li>
                            {% for method in packing %}
                            <li class="border">
                                {% if oi.packing %}
                                {% if oi.packing|keyvalueget:method != None %}
                                {{ oi.packing|keyvalueget:method }}
                                {% endif %}
                                {% endif %}
                            </li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                        <!--<ul style="display:flex;" class="orderitem-container column col-6" data-orderitem-id="{{ oi.pk }}">-->
                        <!--</ul>-->
                        <!--<ul class="packing-container column col-6" data-orderitem-id="{{ oi.pk }}">-->
                        <!--</ul>-->
                    {% endif %}
                    {% if r.note %}
                    <div class="divider column col-12"></div>
                    <h5 class="column col-12 note" data-route-id="{{ r.pk }}">{{ r.note }}</h5>
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <div class="columns col-12 packing-sum">
                <ul class="packing-container column col-12" id="total-packing-sum" data-trip-id="{{ trip.pk }}"
                 style="grid-template-columns: 2fr 4fr repeat({{ packing|length }}, minmax(0, 1fr));">
                    <li class="packing-sum-empty-space"></li>
                    {% for method in packing %}
                    <li class="border">{{ method }}</li>
                    {% endfor %}
                    {% for method in packing %}
                    <li class="border">{{ packing_sum|keyvalueget:method }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
