{% load static %}
{% load widget_tweaks %}
{% load index %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta charset="UTF-8">
    <!--inline css because django-hardcopy does not support linking of css via script tags-->
    <style>
        {% include "pos/spectre.min.css" %}
        {% include "pos/spectre-icons.min.css" %}
        {% include "pos/spectre-exp.min.css" %}
        {% include "pos/main.css" %}
        {% include "pos/print.css" %}
    </style>
</head>
<body>
    <h2>{{ trip.date|date:"d M Y g:i A" }}</h2>
    {% if trip.notes %}
    <h4>{{ trip.notes }}</h4>
    {% endif %}
    <div class="divider"></div>
    <table class="table">
        <thead>
            <tr>
                <td>
                    <div class="columns col-12">
                        <ul class="packing-container packing-sum column col-12" data-trip-id="{{ trip.pk }}"
                         style="grid-template-columns: 1fr 6fr repeat({{ packing|length }}, minmax(0, 1fr));">
                            <li class="packing-sum-empty-space"></li>
                            {% for method in packing %}
                            <li class="border">{{ method }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    {% for dict in routes %}
                    {% for index,r in dict.items %}
                    <div class="columns col-12 route py-2 my-2" data-route-id="{{ r.pk }}">
                        <div style="display:inline;" class="h5 column col-ml-auto">
                            {{ index }} {{ r.orderitem_set.first.customerproduct.customer.name }}
                        </div>
                        {% if r.do_number != "" and r.do_number != None %}
                        <a href="#" class="btn btn-link text-right column col-2 do-number" data-route-id="{{ r.pk }}">
                            {{ r.do_number }}
                        </a>
                        {% endif %}

                        {% if r.orderitem_set.all|length > 0 and not r.orderitem_set.all|all_quantity_zero %}
                            <ul class="packing-container column col-12" style="grid-template-columns: 1fr 6fr repeat({{ packing|length }}, minmax(0, 1fr));">
                                {% for oi in r.orderitem_set.all %}
                                {% if oi.quantity != 0 %}
                                <li>{{ oi.quantity }}</li>
                                {% else %}
                                <li>XX</li>
                                {% endif %}
                                <li>
                                    {{ oi.customerproduct.product.name }}
                                    {% if oi.note %}
                                    🡒 {{ oi.note }}
                                    {% endif %}
                                </li>
                                {% for method in packing %}
                                <li class="border">
                                    {% if oi.packing %}
                                    {% if oi.packing|keyvalueget:method != None %}
                                    {{ oi.packing|keyvalueget:method }}
                                    {% endif %}
                                    {% endif %}
                                </li>
                                {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {% if r.note %}
                        <div class="divider column col-12"></div>
                        <h5 class="column col-12 note" data-route-id="{{ r.pk }}">{{ r.note }}</h5>
                        {% endif %}
                    </div>
                    {% endfor %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>
                    <div class="columns col-12 packing-sum">
                        <ul class="packing-container column col-12" data-trip-id="{{ trip.pk }}"
                         style="grid-template-columns: 1fr 6fr repeat({{ packing|length }}, minmax(0, 1fr));">
                            <li class="packing-sum-empty-space"></li>
                            {% for method in packing %}
                            <li class="border">{{ method }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    <div class="columns col-12 packing-sum">
                        <ul class="packing-container column col-12" data-trip-id="{{ trip.pk }}"
                         style="grid-template-columns: 1fr 6fr repeat({{ packing|length }}, minmax(0, 1fr));">
                            <li class="packing-sum-empty-space"></li>
                           {% for method in packing %}
                            <li class="border">{{ packing_sum|keyvalueget:method }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</body>
