{% extends 'pos/master/menu_nav.html' %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column col-12">
            <div class="empty">
                <div class="empty-icon">
                    <i class="icon icon-cross icon-3x"></i>
                </div>
                  <p class="empty-title h5">Delete Trip</p>
                    <p class="empty-subtitle">Are you sure you want to delete this trip?</p>
                  <div class="empty-action">
                      <form action="{% url 'pos:trip_delete' pk=trip.id %}" method="post">
                          {% csrf_token %}
                          <a href="{% url 'pos:trip_index' %}" class="btn button-action">Back</a>
                          <input type="submit" value="Confirm" class="btn btn-primary button-action" />
                      </form>
                  </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}