{% load widget_tweaks %}

{% for field in form.visible_fields %}
    <div class="form-group">
        {% if field|widget_type != "checkboxinput" %}
        <label class="form-label" for="{{ field.auto_id }}">{{ field.label }}</label>
        {% endif %}

        {% if form.is_bound %}
            {% if field.errors %}
                <!-- If field returned has errors -->
                <div class="column col-12 col-lg-12 form-spacing has-error">
                    {% include 'pos/master/form_render.html' with field=field %}

                    {% for error in field.errors %}
                        <p class="form-input-hint">{{ error }}</p>
                    {% endfor %}
                </div>
            {% else %}
                <!-- If field returned has no errors -->
                <div class="column col-12 col-lg-12 form-spacing has-success has-icon-right">
                    {% include 'pos/master/form_render.html' with field=field %}
                    <i class="form-icon icon icon-check"></i>
                </div>
            {% endif %}
        {% else %}
        <!-- Default (No Error) -->
        <div class="column col-12 col-lg-12 form-spacing">
            {% include 'pos/master/form_render.html' with field=field %}

            {% if field.help_text %}
                <p class="form-input-hint">{{ field.help_text }}</p>
            {% endif %}
            <!-- <p>{{ field|widget_type }}</p> -->
        </div>
        {% endif %}
    </div>
{% endfor %}
