/* Disable the number spinner increment for number input types. */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar {
    margin-left: auto;
    margin-right: auto;
}

.navbar-brand {
    padding-left:1rem;
}

.navbar-section {
    background-color:#f7f8f9;
    border-radius: .4rem;
    padding-top:.2rem;
    padding-bottom: .2rem;
}

.btn.btn-link {
    color: #455060;
}
.navbar-section a {
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase;
}

a {
   outline: 0;
}

h4 {
    margin:0;
}

.container {
    padding:1rem;
}


th {
    text-align:left;
    vertical-align: unset !important;
    white-space: nowrap;
}

td {
    vertical-align: unset !important;
    white-space: nowrap;
}

td, td {
    padding: .4rem .4rem !important;
}

.button-action {
    margin-top:0.25rem;
}

.form-button-action {
    margin-top:1rem;
    margin-bottom:1rem;
}

.panel {
    height:85vh;
}

.icon-delete, .icon-cross {
    color:indianred;
}

.empty {
    margin:1rem;
    background:white;
}

.form-spacing {
    padding:0.1rem;
}

form {
    width:100%;
}

.icon-check {
    color:green;
}

.form-input-hint {
    margin:0 0 0rem;
}

.form-label {
margin:0.1rem;
}

.icon-edit {
    color:lightgrey;
}

.icon-edit:hover {
color:grey;
}

.panel {
    border:0;
}

.panel .panel-body {
    padding:0;
}

.sent {
background-color:#ffffcc;
}

ul {
    list-style-type:none;
    margin:0;
}


.invoice-table td, .invoice-table th {
    border-bottom: .05rem solid #dadee4;
    padding: 0rem .4rem;
}


.col {
    flex: 1;
    text-align:center;
}


.route {
    border: .05rem solid #e7e9ed;
}

.packing-sum, .route {
    border-radius: .4rem;
}


.route-delete {
    color:#e7e9ed;
}

.row-header {
    font-size:12px;
    font-weight: 600;
}


.modal.active .do-modal-window {
    max-width:960px;
}

#do-modal > div {
    max-width:320px;
    padding:.5rem;
}

.heading-label {
font-size: 1vw;
}

.orderitem-container, .packing-container {
    display:grid;
}

.packing-empty-space {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.packing-sum-empty-space {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.packing-container li {
    font-weight:bold;
    margin-top:0;
}

.border {
	text-align: center;
    border: 1px solid #50596c;
}

#date-range {
    display:flex;
}

.index.form-input.input-lg {
    display:inline;
    width:3.5em;
    opacity:1;
}


.accordion input:checked~.accordion-body, .accordion[open] .accordion-body {
    max-height: initial;
}

#group-change-modal {
    max-width:320px;
}

#customer {
    font-size:1.6rem;
    font-weight:500;
}

#arrange-modal {
    cursor: pointer;
}

#arrange-menu {
    box-shadow: none;
}


#customer-create-modal-window {
    max-width:none;
}

.add {
    height:2rem;
    background-color:rgba(128, 127, 226, 0.1);
    text-align:center;
    opacity:0.8;
    font-size: .65rem;
    font-weight: 600;
}

.expand-enter-active, .expand-leave-active {
    transition: height 0.50s;
}


.expand-enter, .expand-leave-to {
  height:0;
}

#app {
    margin:1rem;
}

.clickable:hover {
    background-color:rgba(128, 127, 226, 0.3);
    border-radius: .2rem;
}

.note:hover {
    background-color:rgba(128, 127, 226, 0.1);
    border-radius: .2rem;
}

.light-caps {
    opacity:0.8;
    font-size: .65rem;
    font-weight: 600;
}

#add-route-modal-body {
    max-height: none;
    overflow-y: unset;
}

#add-customer-menu {
    overflow-y: scroll;
    max-height: 12rem;
}

#trip-notes {
    font-size: 18px;
}


.order-row > .form-group {
    flex: 1;
}

.order-row {
    width: 100%;
}


#invoice-create-modal-window, #invoice-update-modal-window {
    max-width: 80% !important;
}

.create-update-invoice-modal-body {
	display: flex;
}

.create-update-invoice-modal-body .invoice-form {
	flex: 1;
}

.create-update-invoice-modal-body .invoice-create-update-table {
	flex: 4;
	overflow-y: scroll;
}

.del-row-btn {
    align-self: flex-end;
}

.delete-container {
    flex: 1;
}

.action-container {
    flex: 1;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.action-bar {
    width: 100%;
}

.invoice-table {
    text-align: center;
}

.invoice-table th {
    text-align: center;
    border-bottom: unset !important;
}

.borderless {
    border-top: unset !important;
    border-bottom: unset !important;
}

.b-left {
    border-left: 1px solid #dee2e6 !important;
}

.b-top {
    border-top: 1px solid #dee2e6 !important;
}

.b-right {
    border-right: 1px solid #dee2e6 !important;
}

.b-bottom {
    border-bottom: 1px solid #dee2e6 !important;
}

.border {
    border-left: 1px solid #dee2e6 !important;

    border-top: 1px solid #dee2e6 !important;

    border-right: 1px solid #dee2e6 !important;

    border-bottom: 1px solid #dee2e6 !important;
}

.align-left {
    text-align: left;
}

.invoice-header {
    width: 100%;
}

#login-form {
    background-color:#f7f8f9;
    padding: 2rem;
    border-radius: 1rem;
}