/* Disable the number spinner increment for number input types. */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar-section {
    background-color:#f7f8f9;
}

.btn.btn-link {
    color: #455060;
}
.navbar-section a {
    font-size: .65rem;
    font-weight: 600;
    text-transform: uppercase;
}
@page {
    margin:5mm 0 0 0;
}
@media print
{
    body{
        zoom:80%;
        margin: 5mm 5mm 5mm 5mm;
    }
    .route, .packing-sum{
        page-break-inside: avoid;
    }
    li {
        font-weight: bold;
    }
}

h4 {
    margin:0;
}

.container {
    padding:1rem;
}


th {
    text-align:left;
}

.button-action {
    margin-top:0.25rem;
}

.form-button-action {
    margin-top:1rem;
    margin-bottom:1rem;
}

.panel {
    height:85vh;
}

.icon-delete, .icon-cross {
    color:indianred;
}

.empty {
    margin:1rem;
    background:white;
}

.form-spacing {
    padding:0.1rem;
}

form {
    width:100%;
}

.icon-check {
    color:green;
}

.form-input-hint {
    margin:0 0 0rem;
}

.form-label {
margin:0.1rem;
}

.icon-edit {
    color:lightgrey;
}

.icon-edit:hover {
color:grey;
}

.panel {
    border:0;
}

.panel .panel-body {
    padding:0;
}

.sent {
background-color:#ffffcc;
}

ul {
    list-style-type:none;
    margin:0;
}



.invoice-table th {
    border:none;
}


.col {
    flex: 1;
    text-align:center;
}


.route, .packing-sum {
    border: .05rem solid #e7e9ed;
    border-radius: .4rem;
}


.route-delete {
    color:#e7e9ed;
}

.row-header {
    font-size:12px;
    font-weight: 600;
}


.modal.active .do-modal-window {
    max-width:960px;
}

#do-modal > div {
    max-width:320px;
    padding:.5rem;
}

.heading-label {
font-size: 1vw;
}

.orderitem-container, .packing-container {
    display:grid;
}

.packing-empty-space {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.packing-sum-empty-space {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.packing-container li {
    font-weight:bold;
    margin-top:0;
    font-size:14px;
}

.border {
	text-align: center;
    border: 1px solid #50596c;
}

@media screen and (min-width: 1920px) {
/* .packing-container li {
     font-size: 1vw;
  } */
}

#date-range {
    display:flex;
}

.index.form-input.input-lg {
    display:inline;
    width:3.5em;
    opacity:1;
}

.accordion input:checked~.accordion-body, .accordion[open] .accordion-body {
    max-height: fit-content;
}

#group-change-modal {
    max-width:320px;
}

#customer {
    font-size:1.6rem;
    font-weight:500;
}

#arrange-modal {
    cursor: pointer;
}

#arrange-menu {
    box-shadow: none;
}

#create-customer-product {
    display:none;
}

#customer-create-modal-window {
    max-width:none;
}

.add {
    height:2rem;
    background-color:rgba(128, 127, 226, 0.1);
    text-align:center;
    opacity:0.8;
    font-size: .65rem;
    font-weight: 600;
}

.expand-enter-active, .expand-leave-active {
    transition: height 0.50s;
}


.expand-enter, .expand-leave-to {
  height:0;
}

#app {
    margin:1rem;
}

.clickable:hover {
    background-color:rgba(128, 127, 226, 0.3);
    border-radius: .2rem;
}

.note:hover {
    background-color:rgba(128, 127, 226, 0.1);
    border-radius: .2rem;
}

.light-caps {
    opacity:0.8;
    font-size: .65rem;
    font-weight: 600;
}

#add-route-modal-body {
    max-height: none;
    overflow-y: unset;
}

#add-customer-menu {
    overflow-y: scroll;
    max-height: 12rem;
}