{% extends 'pos/master/menu_nav.html' %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column col-12">
            <a href="{% url 'pos:customer_index' %}">
                <i class="icon icon-back"></i>
            </a>
            <div class="panel">
                <div class="panel-header text-center">
                    <div class="panel-title h3 mt-10">{{ customer.name }}</div>
                </div>
                <div>
                <a href="{% url 'admin:pos_customer_change' customer.id %}" class="btn btn-primary btn-sm hide-lg float-right">
                    <i class="icon icon-edit"></i>&nbsp;Edit
                </a>
                </div>

                <nav class="panel-nav">
                    <ul class="tab">
                        <li class="tab-item active">
                            <a href="{% url 'pos:customer_detail' pk=customer.pk %}">Profile</a>
                        </li>
                        <li class="tab-item">
                            <a href="{% url 'pos:customerproduct_index' pk=customer.pk %}">Quote</a>
                        </li>
                        <li class="tab-item">
                            <a href="{% url 'pos:route_customer' pk=customer.pk %}">Orders</a>
                        </li>
                        <li class="tab-item">
                            <a href="{% url 'pos:invoice_customer' pk=customer.pk %}">Invoice</a>
                        </li>
                    </ul>
                </nav>
                <div class="panel-body">
                    <table class="table">
                        <tr>
                            <td>Address:</td>
                            <td>
                            {% if customer.address is not None %}
                                {{ customer.address }}
                            {% endif %}
                            </td>
                        <tr>
                        <tr>
                            <td>Postal:</td>
                            <td>
                            {% if customer.postal is not None %}
                                {{ customer.postal_code }}
                            {% endif %}
                            </td>
                        <tr>
                        <tr>
                            <td>Tel:</td>
                            <td>
                            {% if customer.tel_no is not None %}
                                {{ customer.tel_no }}
                            {% endif %}
                            </td>
                        <tr>
                        <tr>
                            <td>Fax:</td>
                            <td>
                                {% if customer.fax_no is not None %}
                                {{ customer.fax_no }}
                                {% endif %}
                            </td>
                        <tr>
                        <tr>
                            <td>Term:</td>
                            <td>{{ customer.term }}</td>
                        <tr>
                        <tr>
                            <td>GST:</td>
                            <td>{{ customer.gst }}</td>
                        <tr>
                    </table>
                    <a href="{% url 'admin:pos_customer_change' customer.id %}" class="btn btn-primary btn-block show-lg my-2">
                        Edit
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}