{% extends 'pos/master/menu_nav.html' %}
{% load index %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<script type="module" src="{% static 'pos/js/customer_detail.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
<div id="app" data-customergroup-id="{{ customergroup_id }}">
{% verbatim %}
    <customer-detail
        @showeditcustomernamemodal="showeditcustomernamemodal"
        @showeditcustomergroupmodal="showeditcustomergroupmodal"
        @showcreatecustomerproductmodal="showcreatecustomerproductmodal"
        @showdeletecustomerproductmodal="showdeletecustomerproductmodal"
        @showdeletecustomermodal="showdeletecustomermodal"
        @showlinkfreshbooksmodal="showlinkfreshbooksmodal"
        @refreshcustomerproducts="refreshcustomerproducts"
        v-bind:customer="customer" v-if="customer"
        v-bind:customerproducts="customerproducts" v-if="customerproducts"
        v-bind:routes="routes" v-if="routes">
    </customer-detail>
    <edit-customer-name-modal
            @showeditcustomernamemodal="showeditcustomernamemodal"
            @refreshcustomer="refreshcustomer"
            v-bind:customergroup_id="customergroup_id"
            v-bind:opened="show_customer_edit_name_modal">
    </edit-customer-name-modal>
    <edit-customer-group-modal
            @showeditcustomergroupmodal="showeditcustomergroupmodal"
            @refreshcustomer="refreshcustomer"
            v-bind:customergroup_id="customergroup_id"
            v-bind:opened="show_customer_edit_group_modal">
    </edit-customer-group-modal>
    <create-customer-product-modal
            @showcreatecustomerproductmodal="showcreatecustomerproductmodal"
            @refreshcustomerproducts="refreshcustomerproducts"
            v-bind:customerproducts="customerproducts"
            v-bind:customer="customer"
            v-bind:opened="show_customerproduct_create_modal">
    </create-customer-product-modal>
    <delete-customer-product-modal
            @showdeletecustomerproductmodal="showdeletecustomerproductmodal"
            @refreshcustomerproducts="refreshcustomerproducts"
            v-bind:customerproduct_id="delete_customerproduct_id"
            v-bind:customer="customer"
            v-bind:opened="show_customerproduct_delete_modal">
    </delete-customer-product-modal>
    <delete-customer-modal
            @showdeletecustomermodal="showdeletecustomermodal"
            v-bind:customer="customer"
            v-bind:opened="show_customer_delete_modal">
    </delete-customer-modal>
    <link-freshbooks-modal
        @showlinkfreshbooksmodal="showlinkfreshbooksmodal"
        @refreshcustomer="refreshcustomer"
        v-bind:customer="customer"
        v-bind:opened="show_link_freshbooks_modal">
    </link-freshbooks-modal>
</div>
{% endverbatim %}
{% endblock %}
