{% extends 'pos/master/menu_nav.html' %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column col-3">
            <h2>Customers</h2>
        </div>
        <div class="column col-mr-auto"></div>
        <div class="column col-3">
            <a href="{% url 'admin:pos_customer_add' %}" class="btn btn-primary btn-sm float-right button-action">
                <i class="icon icon-plus"></i>&nbsp;Create
            </a>
        </div>
    </div>
    <div class="columns">
        <div class="column col-12">
            {% if customer_list|length > 0 %}
                <table class="table">
                    {% for c in customer_list %}
                    <tr>
                        <td>
                            <a href="{% url 'pos:customer_detail_view' pk=c.id %}">{{ c.name }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            {% else %}
                <div class="empty">
                      <p class="empty-title h5">You have no customers.</p>
                        <p class="empty-subtitle">Click the button to create one.</p>
                      <div class="empty-action">
                            <a href="{% url 'pos:customer_create' %}" class="btn btn-primary btn-sm button-action">
                                <i class="icon icon-plus"></i>&nbsp;Create
                            </a>
                      </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}




