{% extends 'pos/master/menu_nav.html' %}
{% load static %}
{% block content %}
<script src="https://raw.githack.com/SortableJS/Sortable/master/Sortable.js"></script>
<script type="text/javascript" src="{% static 'pos/js/customer_index.js' %}"></script>
<div class="container">
    <div class="columns">
        <div class="column col-3">
            <h2>Customers</h2>
        </div>
        <div class="column col-mr-auto"></div>
        <div class="column col-3">
            <a href="{% url 'admin:pos_customer_add' %}" class="btn btn-primary btn-sm float-right button-action">
                <i class="icon icon-plus"></i>&nbsp;Create
            </a>
        </div>
    </div>
    <div class="columns">
        <div class="column col-12">
            {% for group_name, customer_group_array in group_dict.items %}
            <!-- standard Accordions example -->
            <div class="accordion">
              <input type="checkbox" id="group-{{ forloop.counter }}" name="accordion-checkbox" hidden>
              <label class="accordion-header" for="group-{{ forloop.counter }}">
                <i class="icon icon-arrow-right mr-1"></i>
                {{ group_name }}
              </label>
              <div class="accordion-body">
                <!-- Accordions content -->
                  <div class="menu menu-nav" id="rowParent">
                      <ul class="draggable-list" id="{{ group_name|cut:" " }}">
                      {% for cg in customer_group_array %}
                          <li class="menu-item" data-customergroup-id="{{ cg.pk }}" data-group-id="{{ cg.group_id }}">
                              <a href="{% url 'pos:customer_detail_view' pk=cg.customer.pk %}">{{ cg.customer.name }}</a>
                          </li>
                      {% endfor %}
                      </ul>
                  </div>
              </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}




