{% extends 'pos/master/menu_nav.html' %}
{% load index %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<script type="module" src="{% static 'pos/js/customer_index.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="//cdn.jsdelivr.net/npm/sortablejs@1.8.4/Sortable.min.js"></script>
<!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
<script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.20.0/vuedraggable.umd.min.js"></script>
<div id="app">
{% verbatim %}
    <customer-list
            @showcreatecustomermodal="showcreatecustomermodal"
            v-bind:customer_groups="customer_groups">
    </customer-list>
    <create-customer-modal
            @showcreatecustomermodal="showcreatecustomermodal"
            v-bind:opened="show_customer_create_modal">
    </create-customer-modal>
</div>
{% endverbatim %}
{% endblock %}