{% extends 'pos/master/menu_nav.html' %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="column col-12">
            <a href="{% url 'pos:customer_index' %}">
                <i class="icon icon-back"></i>
            </a>
            <div class="panel">
                <div class="panel-header text-center">
                    <div class="panel-title h3 mt-10">{{ customer.name }}</div>
                </div>
                <div>
                    <a href="{% url 'pos:invoice_daterange' pk=customer.pk %}" class="btn btn-primary btn-sm hide-lg float-right">
                        <i class="icon icon-plus"></i>&nbsp;Create
                    </a>
                </div>
                <nav class="panel-nav">
                    <ul class="tab">
                        <li class="tab-item">
                            <a href="{% url 'pos:customer_detail' pk=customer.pk %}">Profile</a>
                        </li>
                        <li class="tab-item">
                            <a href="{% url 'pos:customerproduct_index' pk=customer.pk %}">Quote</a>
                        </li>
                        <li class="tab-item">
                            <a href="{% url 'pos:route_customer' pk=customer.pk %}">Orders</a>
                        </li>
                        <li class="tab-item active">
                            <a href="{% url 'pos:invoice_customer' pk=customer.pk %}">Invoice</a>
                        </li>
                    </ul>
                </nav>
                <div class="panel-body">
                    {% if invoice_list|length > 0 %}
                    <table class="table">
                        {% for invoice in invoice_list %}
                            <tr>
                                <td>{{ invoice.pk }}</td>
                                <td>
                                    <a href="{% url 'pos:invoice_view' invoice_pk=invoice.id cust_pk=customer.pk %}">{{ invoice.date_generated|date:"d M Y" }}</a>
                                </td>
                                <td>
                                    <a href="{% url 'pos:invoice_delete' pk=invoice.id %}">
                                        <i class="icon icon-delete float-right"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <a href="#" class="btn btn-primary btn-block my-2 show-lg">
                            Create
                    </a>
                    {% else %}
                    <div class="empty">
                      <p class="empty-title h5">Customer has no invoice</p>
                        <p class="empty-subtitle">Click the button to create one.</p>
                      <div class="empty-action">
                            <a href="{% url 'pos:invoice_daterange' pk=customer.pk %}" class="btn btn-primary btn-sm button-action">
                                <i class="icon icon-plus"></i>&nbsp;Create
                            </a>
                      </div>
                    </div>
                    {% endif %}
                </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}