{% extends 'pos/master/menu_nav.html' %}
{% load index %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<script type="module" src="{% static 'pos/js/invoice_history.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<div id="app">
{% verbatim %}
    <invoice-list
            @showdetailinvoicemodal="showdetailinvoicemodal">
    </invoice-list>
    <invoice-detail-modal
            v-if="selected_detail_invoice"
            v-bind:selected_detail_invoice="selected_detail_invoice"
            v-bind:opened="show_detail_invoice_modal"
            @showdetailinvoicemodal="showdetailinvoicemodal"
    ></invoice-detail-modal>
</div>
{% endverbatim %}
{% endblock %}