{% extends 'pos/master/menu_nav.html' %}
{% load index %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
<div class="container">
    <div class="columns">
        <div class="d-inline-flex invoice-header">
            <ul class="flex-2">
                <li><b>SUN-UP BEAN FOOD MFG PTE LTD</b></li>
                <li><b>TUAS BAY WALK #02-30 SINGAPORE 637780</b></li>
                <li><b>TEL: 68639035 FAX: 68633738</b></li>
                <li><b>REG NO: 200302589N</b></li>
                <li><b>BILL TO:</b></li>
                <li><b>{{ invoice.customer.name }}</b></li>
                <li><b>{{ invoice.customer.address }}</b></li>
                <li><b>{{ invoice.customer.country }} {{ invoice.customer.postal_code }}</b></li>

            </ul>
            <ul class="float-right flex-1">
                <li><b>TAX INVOICE</b></li>
                <li><b>INVOICE NUMBER: {{ invoice.invoice_number }}</b></li>
                {% if invoice.date_created %}
                <li><b>DATE: {{ invoice.date_created|format_date:"%d/%m/%Y" }}</b></li>
                {% endif %}
            </ul>
        </div>
        <table class="table invoice-table my-2">
          <thead>
            <tr>
              <th>DATE</th>
                {% for cp in customerproducts %}
                <th>{{ cp.product.name }}</th>
                {% endfor %}
              <th>D/O</th>
            </tr>
          </thead>
          <tbody>
            {% for row in pv_table %}
            <tr>
              <td>{{ row|keyvalueget:'route__date'|format_date:"%d/%m/%Y" }}</td>
              {% for cp in customerproducts %}
              {% if row|keyvalueget:cp.product.name %}
              <td>{{ row|keyvalueget:cp.product.name }}</td>
              {% else %}
              <td></td>
              {% endif %}
              {% endfor %}
              <td>{{ row|keyvalueget:'route__do_number' }}</td>
            </tr>
            {% endfor %}
            <tr class="borderless"><td class="borderless"></td></tr>   
            <tr class="borderless">
                <td class="borderless"><b>QUANTITY</b></td>
                {% for cp in customerproducts %}
                <td class="borderless"><b>{{ product_sum|keyvalueget:cp.product.name }}</b></td>
                {% endfor %}
                <td class="borderless"></td>
            </tr>
            <tr class="borderless">
                <td class="borderless"><b>UNIT PRICE</b></td>
                {% for cp in customerproducts %}
                <td class="borderless"><b>{{ cp.quote_price }}</b></td>
                {% endfor %}
                <td class="borderless"></td>
            </tr>        
            <tr class="borderless">
                <td class="borderless"><b>NETT AMT</b></td>
                {% for cp in customerproducts %}
                <td class="borderless"><b>{{ nett_amt|keyvalueget:cp.product.name }}</b></td>
                {% endfor %}
                <td class="borderless"></td>
            </tr> 
            <tr><td class="borderless"></td></tr>
            <tr>
                <td colspan="3" class="borderless"></td>
                <td class="align-left border"><b>SUBTOTAL:</b></td>
                <td class="border-right"><b>{{ subtotal }}</b></td>
            </tr>
            {% if invoice.minus > 0 %}
            <tr>
                <td colspan="3" class="borderless"></td>
                {% if invoice.discount_description %}
                <td class="align-left border"><b>{{ invoice.discount_description }}:</b></td>                
                {% else %}
                <td class="align-left border"><b>MINUS ($):</b></td>
                {% endif %}
                <td class="border-right"><b>{{ invoice.minus }}</b></td>
            </tr>
            <tr>
                <td colspan="3" class="borderless"></td>
                <td class="align-left border"><b>TOTAL NETT AMT:</b></td>
                <td class="border-right"><b>{{ total_nett_amt }}</b></td>
            </tr>
            {% endif %}
            <tr>
                <td colspan="3" class="borderless"></td>
                <td class="align-left border"><b>GST: {{ invoice.gst }}%</b></td>
                <td class="border-right"><b>{{ gst }}</b></td>
            </tr>
            <tr>
                <td colspan="3" class="borderless"></td>
                <td class="align-left border"><b>TOTAL INCL. GST</b></td>
                <td class="border-right"><b>{{ total_incl_gst }}</b></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
{% endblock %}
