{% extends 'pos/master/menu_nav.html' %}
{% load index %}
{% load widget_tweaks %}

{% block content %}
<div class="container">
    <div class="columns">
        <div class="column col-12">
            <a href="{% url 'pos:customer_detail' pk=customer.id %}">Back</a>
            <h2>{{ customer.name }}</h2>
        </div>
    </div>
    <form action="{% url 'pos:invoice_daterange' pk=customer.pk %}" method="get">
    <div class="form-group columns col-12">
        <div class="columns col-4">
            <div class="column col-2">
                <label class="form-label float-right">{{ date_form.date_start.label }}</label>
            </div>
            <div class="column col-10">
                {% render_field date_form.date_start class="form-input" placeholder="DD/MM/YYYY" %}
            </div>
        </div>

        <div class="column col-4">
            <div class="columns col-12">
                <div class="column col-2">
                    <label class="form-label float-right">{{ date_form.date_end.label }}</label>
                </div>
                <div class="column col-10">
                    {% render_field date_form.date_end class="form-input" placeholder="DD/MM/YYYY" %}
                </div>
            </div>
        </div>
        <div class="column col-4">
            <input class="btn btn-primary" type="submit" value="Refresh">
        </div>
    </div>
    </form>

    <form action="{% url 'pos:invoice_daterange' pk=customer.pk %}" method="post">
        <div class="columns col-12">
            {% csrf_token %}
            {% if routes|length > 0 %}
            <table class="table">
                <tr>
                    <th></th>
                    <th>Date</th>
                    {% for cp in customerproducts %}
                        <th>{{ cp.product.name }}</th>
                    {% endfor %}
                </tr>
                {% for row in routes %}
                <tr>
                    <td>
                        <div class="form-group">
                          <label class="form-checkbox">
                            <input type="checkbox" name="routes" value="{{ row.id }}" checked>
                            <i class="form-icon"></i>
                          </label>
                        </div>
                    </td>
                    <td>{{ row.date|date:"d M Y" }}</td>
                    {% for cp in customerproducts %}
                    <td>
                        {{ row|keyvalue:cp.id }}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
            {% else %}
            {% if date_form.is_bound %}
            <div class="empty col-12">
                <p class="empty-title h3">No available orders found between dates.</p>
            </div>
            {% endif %}
            {% endif %}
            <div class="column col-12 py-2">
                <input class="btn btn-primary float-right" type="submit" value="Next">
            </div>
        </div>
    </form>
</div>
{% endblock %}